    body{
        background-color:rgb(247, 41, 41);
    }
    #q{
        background-color: white;
        text-align: center;
        font-family: 'Ubuntu', sans-serif;
        margin: 10px;
        font-size: 25px;
        border-radius: 10px;
    }
    .q{
        padding: 10px;
    }
    .a{
        padding: 10px;
    }
    #a{
        background-color: white;
        text-align: center;
        margin: 20px;
        border-radius: 10px;
        font-family: 'Cairo', sans-serif;
        font-size: 20px;
    }
